.login{
    display: grid;
    place-items: center;
    height: calc(100vh-38px);
}

.login > div > img {
    object-fit: contain;
    height: 150px;
}

.login > button {
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
    padding: 10px;
    cursor: pointer;
    border:none;
    border-radius: 5px;
}

.login> button:hover {
    background-color: white;
    color: #2e81f4;
}


.login__logo{
    display: flex;
    flex-direction: column;
}